---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Mobile_test from "../../components/Mobile-test";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en" class="flex justify-center">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body class="px-4 lg:mt-5 md:mt-3 sm:mt-2 mt-2 mx-0  w-screen border-0 border-[#4343FE] w-full lg:w-10/12">
    <!-- <Header /> -->
    <Mobile_test client:load />
    <main class="h-screen">
      <section class="border-0 border-[#4343FE] mt-5 p-0 w-full h-1/3 flex flex-col justify-start">
        <h1 class="text-3xl font-bold text-[#4343FE] text-left">Insights</h1>
        <ul class="border-0 border-red-400 flex flex-col py-4 mt-4">
          {
            posts.map((post) => (
              <li class="border-0 border-[#4343FE] h-10 flex justify-start items-center">
                <a href={`/blog/${post.slug}/`} class="indent-4">
                  <FormattedDate date={post.data.pubDate} class=""/>
                  <span class="ml-3">
                    {post.data.title}
                  </span>
                  <p class="text-base lg:text-base md:text-base sm:text-base text-[#171738]">{post.data.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
