---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    
  </head>

  <body class="w-prose max-w-4xl">
    <Header />
    <main class="flex items-center mt-10">
      <article class="w-prose">
        <!-- {heroImage && <img width={720} height={360} src={heroImage} alt="" />} -->
        <h1 class="font-sans font-bold lg:text-4xl md:text-xl sm:text-xl text-xl text-[#4343FE]">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="italic">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr class="mb-10" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
