---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import type { MarkdownHeading } from "astro";
import BaseLayout from "./BaseLayout.astro";

// type Props = CollectionEntry<"blog">["data"];
type Props = {
	id: CollectionEntry<"blog">["id"];
	data: CollectionEntry<"blog">["data"];
	headings: MarkdownHeading[];
};

const { data, headings, id } = Astro.props;
const { title, description, pubDate, heroImage, tags, updatedDate } = data;

const articleDate = pubDate.toISOString();
---

<BaseLayout title={title} description={description}>
	<div class="pt-16 sm:pt-16">
		<article class="w-prose">
			<!-- {heroImage && <img width={720} height={360} src={heroImage} alt="" />} -->
			<h1
				class="font-sans text-xl font-bold text-[#4343FE] sm:text-xl md:text-xl lg:text-4xl"
			>
				{title}
			</h1>
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="mt-10 italic">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			<div class="mt-10">
				<slot />
			</div>
		</article>
	</div>
</BaseLayout>
